.container {
   max-width: 480px;
   margin: 0 auto;

   padding: 22px 15px 0 15px;

   @media screen and (min-width: 480px) and (max-width: 767.9px) {
      width: 480px;
      max-width: none;
      padding: 22px 15px 0 15px;
   }

   @media screen and (min-width: 768px) {
      width: 768px;
      max-width: none;
      padding: 22px 32px 0 15px;
   }

   @media screen and (min-width: 1280px) {
      width: 1280px;
   }
}

.sectionHeader {
   padding: 0 0 15px 0;


   background: rgb(80, 80, 80);
   background: linear-gradient(0deg, rgba(80, 80, 80, 1) 0%, rgb(26, 26, 26) 100%);


   @media screen and (min-width: 768px) {}

   @media screen and (min-width: 1280px) {}
}

.contactsWrap {
   display: flex;
   flex-direction: column;
}

.mainHeaderWrap {
   display: flex;
   justify-content: space-between;
   margin-bottom: 22px;
}





.contactsWrap a {
   color: var(--text-secondary);

   @media screen and (max-width: 480px) {
      font-size: 13px;
   }
}

.shopWrap {
   display: flex;
   gap: 9px;
}

.shopButton {
   position: relative;
   top: 0;
   left: 0;

   background-color: transparent;
   border: none;
   padding: 0;

   width: 30px;
   height: 30px;
}

.amount {
   position: absolute;
   top: -5px;
   right: -5px;

   display: flex;
   align-items: center;
   justify-content: center;

   width: 20px;
   height: 20px;


   color: var(--text-secondary);
   background-color: var(--accent);
   border-radius: 50%;

}