.container {
   max-width: 480px;
   margin: 0 auto;

   padding: 0 15px 0 15px;

   @media screen and (min-width: 480px) and (max-width: 767.9px) {
      width: 480px;
      max-width: none;
   }

   @media screen and (min-width: 768px) {
      width: 768px;
      max-width: none;
   }

   @media screen and (min-width: 1280px) {
      width: 1280px;
   }
}

.sectionFooter {
   padding: 15px 0 15px 0;


   width: 100vw;

   background: rgb(80, 80, 80);
   background: linear-gradient(180deg, rgba(80, 80, 80, 1) 0%, rgb(26, 26, 26) 100%);


   @media screen and (min-width: 768px) {}

   @media screen and (min-width: 1280px) {}
}

.list {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;

   gap: 8px;
}

.list a {
   color: var(--text-secondary);
}